[Unit]
Description=Ryumi
After=network-online.target rethinkdb.target

[Service]
ExecStart=dotnet /home/zirk/bots/Ryumi/Ryumi.dll
WorkingDirectory=/home/zirk/bots/Ryumi
Restart=on-failure

[Install]
WantedBy=multi-user.target